deb {{jessie_server_base_mirror}} jessie main contrib
deb {{jessie_server_base_mirror}} jessie-updates main
deb {{jessie_server_base_mirror}} jessie-backports main
deb http://security.debian.org/ jessie/updates main
